body {
    background-color: blue;
    font-size: 50px;
}

.btn {
    display: inline-block;
    width: 100px;
    padding: 10px;
    background : crimson;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 30px;
    text-align:center;
    text-decoration: none;
    color: white;
}